.DS_Store
*.xlsx
*.pptx
*.mtar
*.log
.*.log
.classpath
.project

.che/
.mta/
.settings/
.xmake/
edmx/
gen/
imports/
node/
node_modules/
target/
_out/
dist/

connection.properties
metadata.xml

.cds_gen.log
